/* www.alsina.xyz | Alchemically bonded by Sebastian Alsina (@youngseebi) */

@import url('https://fonts.googleapis.com/css?family=Oswald');
html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: dimgrey;
    font-family: 'Arial Bold', sans-serif;
}


/*
* LOADER SCREEN
* [==============]
*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-image: url(../img/shake-video-bg-screenshot.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.loader.hidden {
    transition: 1s ease all;
    transform: translateX(-110%);
}

.loader video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/shake-video-bg-screenshot.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.loader .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

.loader .logo {
    width: 90%;
    max-width: 200px;
    margin-bottom: 22px;
}

.loader h2 {
    font-weight: 900;
    font-size: 2.4em;
    margin-bottom: 80px;
}

.loader i {
    font-size: 2em;
}


/*
* TOUR DATES LIST
* [==============]
*/

.notif {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    text-align: center;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tour-list {
    width: 100%;
    height: auto;
}

.tour-list a {
    position: relative;
    display: block;
    width: 100%;
    padding: 350px 40px;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tour-list a.tba {
    /*    opacity: 0.2;*/
}

.tour-list a.bg-1 {
    background-image: url(../img/shake-concert-pics/1.jpeg);
}

.tour-list a.bg-1 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-2 {
    background-image: url(../img/shake-concert-pics/2.jpeg);
}

.tour-list a.bg-2 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-3 {
    background-image: url(../img/shake-concert-pics/3.jpeg);
}

.tour-list a.bg-3 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-4 {
    background-image: url(../img/shake-concert-pics/4.jpeg);
}

.tour-list a.bg-4 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-5 {
    background-image: url(../img/shake-concert-pics/5.jpeg);
}

.tour-list a.bg-5 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-6 {
    background-image: url(../img/shake-concert-pics/6.jpeg);
}

.tour-list a.bg-6 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-7 {
    background-image: url(../img/shake-concert-pics/7.jpeg);
}

.tour-list a.bg-7 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-8 {
    background-image: url(../img/shake-concert-pics/8.jpeg);
}

.tour-list a.bg-8 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-9 {
    background-image: url(../img/shake-concert-pics/9.jpeg);
}

.tour-list a.bg-9 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-10 {
    background-image: url(../img/shake-concert-pics/10.jpeg);
}

.tour-list a.bg-10 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-11 {
    background-image: url(../img/shake-concert-pics/11.jpeg);
}

.tour-list a.bg-11 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-12 {
    background-image: url(../img/shake-concert-pics/12.jpeg);
}

.tour-list a.bg-12 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-13 {
    background-image: url(../img/shake-concert-pics/13.jpeg);
}

.tour-list a.bg-13 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list a.bg-14 {
    background-image: url(../img/shake-concert-pics/14.jpeg);
}

.tour-list a.bg-14 .overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.tour-list .content {
    position: relative;
    z-index: 60;
}

.tour-list h2 {
    font-size: 2em;
    margin-bottom: 8px;
    font-weight: 900;
}

.tour-list h3 {
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.4em;
}

.tour-list h3 span {
    font-weight: 100;
}

.tour-list h3 span::before {
    content: "\2022\2002"
}


/*
* FOOTER
* [==============]
*/

.footer {
    background-color: black;
    text-align: center;
}

.footer a {
    color: #E4572E;
}

.footer .links {
    font-weight: 2em;
    font-weight: 900;
    margin-bottom: 16px;
}

.footer .links a {
    margin-right: 6px;
    margin-left: 6px;
}

.footer .social-media {
    font-weight: 2em;
    margin-bottom: 32px;
}

.footer .social-media a {
    margin-right: 3px;
    margin-left: 3px;
}

.footer p {
    font-size: 0.7em;
    color: white;
    font-weight: 900;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .tour-list a {
        padding: 300px 22px;
    }
}